body {
	min-width:600pt;
	min-height:400pt;
font-family:Verdana,"宋体"; font-size:12pt; margin:0 auto;}
.container {
margin: 0 auto;
width:100%;
height:100%;}
#overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);display:none;}

#qrcodeBox{position:absolute;top:50%;left:50%;width:200pt;height:200pt;background:#fff;border:1px solid #079A2D;margin:-100pt 0 0 -100pt;display:none;}
#filterBox{position:absolute;top:50%;left:50%;width:460pt;height:240pt;background:#fff;border:1px solid #079A2D;margin:-125pt 0 0 -230pt;display:none;}
#editBox{position:absolute;top:50%;left:50%;width:380px;height:210px;background:#fff;border:1px solid #079A2D;margin:-105px 0 0 -190px;display:none;}
#deleteBox{position:absolute;top:50%;left:50%;width:350px;height:170px;background:#fff;border:1px solid #079A2D;margin:-85px 0 0 -175px;display:none;}
#createBox{position:absolute;top:50%;left:50%;width:350px;height:210px;background:#fff;border:1px solid #079A2D;margin:-105px 0 0 -175px;display:none;}
h2{font-size:12px;height:12px;text-align:right;background:#079A2D;border-bottom:1px solid #079A2D;padding:5px;cursor:move;margin-top:-4px}
h2 span{color:#079A2D;cursor:pointer;background:#fff;border:1px solid #079A2D;padding:0 2px;}

.confirm{
	text-align:center;
	white-space:nowrap;}
.button{
	background-color: white;
	color:#079A2D;
	text-align:center;
	font-family:"楷体";
	border:0;
	cursor:pointer;
	}
  .button:hover{background:#88EC88l;}
  .button:active{background-color:#88EC88;}
.button2{
	background-color:#079A2D;
	color: white;
	text-align:center;
	font-family:"楷体";
	border:0;
	cursor:pointer;	
	}
	.button2:hover{background:#88EC88l;}
  .button2:active{background-color:#88EC88;}
.title{
background-color:#079A2D;
width:100%;
height:50pt;
text-align:center;
overflow:hidden;
position:relative;
vertical-align:middle;
}
.title p {
position:static;
+position:absolute;
top:50%;
}
.title img{
position:static;
+position:relative;
top:-50%;
left:-50%;
}
#logout{
	position:absolute;
	right:15%;
	top:45%;
	font-size:13pt;
	width:50pt;
	height:20pt;
	}
.bottomBar{
	color:white;
	font-family:"楷体";
	background-color : #079A2D;
	position:fixed;
	width:100%;
	height:20pt;
	text-align:center;
	top:100%;
	margin-top:-20pt;
}
.bottomBar p{
	font-size:13pt;
	margin-top:-0pt;
	}
#verifyBox{
position:absolute;  
top:50%;  
left:50%;
background-color :#079A2D;
margin-left:-175pt;  
margin-top:-90pt; 
width:350pt;  
height:205pt;
font-family:"楷体"；
}
.center{
text-align:center;
}
#verifyBox .center{
font-size:20pt;
font-weight:bold;
color:white;
}
.inputForm{
width: 80%;
margin-left: 10%;
}
input{
	border:0;
	}
p input{
	border:1px solid;
	border-color:#079A2D;}
#username{
	width:120pt;
	}
#password{
	width:120pt;
	}
#verifyBox .inputForm p{
	text-align:center;
	font-size:16pt;
	color: white;
	}
#verifyBox .inputForm .button{
	font-size:15pt;
	margin:-20pt 0 0 0;
	width:100pt;
	height:25pt; 
	line-height:25pt;
	text-decoration:none;
	cursor:pointer;
	border:0pt;
	}
#content{
	width:80%;
	margin-left:10%;
	margin-right:-10%;
	}
#operationRegion{
	margin-left:5%;
	margin-right:5%}
#operationRegion .button2{
	font-size:15pt;
	width:70pt;
	height:25pt;
	}
hr{
	width:100%;
	}
table{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	border-top:1px solid;
	border-left:1px solid;
	border-color:#079A2D;	
	}
tr{
	height:40pt;	
	}
th{
	color:#D1F5D7;
	border-bottom:1px solid;
	border-right:1px solid;
	border-color:#079A2D;
	background:#079A2D;
	}
td{
	border-bottom:1px solid;
	border-right:1px solid;
	border-color:#079A2D;
	text-align:center;	
	}
td .button2{
	font-family:"宋体";
	text-align:center;
	border:1px solid;
	border-color:white;
	font-size:11pt;
	width:50pt;
	height:20pt;
	cursor:pointer;
	}
	
#index input{
	width:30pt;}	
#user input:checkbox{
	border:0;}

#username_specify_show,#username_specify,#modify_Time{
	display:none;}
#space_all input,#space_left input{
	width:30pt;
	}
#filterBox .button2,#editBox .button2,#deleteBox .button2,#createBox .button2{
	font-size:15pt;
	margin:-20pt 0 0 0;
	width:100pt;
	height:25pt; 
	line-height:25pt;
	text-decoration:none;
	cursor:pointer;
	border:0pt;
	}
#createBox input{
	width:30pt;
	}
.qrcode_print{
	display:inline-block;
	width:24%;
	text-align:center;
	margin-bottom:15px;
	}
.qrcode_print img{
	width:180px;
	height:180px;
	}
.qrcode_print p{
	display:inline;
	}
#print_op{
	text-align:center;
	margin-bottom:20px;
	}
#qrcode {
    position:relative;
    left:25pt;
    top:10pt;
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	