
@{
    ViewBag.Title = "微信二维码管理系统";
}

<h2>Index</h2>

<h3>二维码</h3>
<p>
    @Html.ActionLink("View Empty", "Index","Empty")
</p>
<p>
    @Html.ActionLink("View Used", "Index","Used")
</p>

<h3>用户</h3>
<p>
    @Html.ActionLink("用户管理", "Index","User")
</p>

<h3>资源</h3>
<p>
    @Html.ActionLink("资源管理", "Index","Resource")
</p>