@charset "utf-8";
/* CSS Document */

.container{
	margin: 0 auto;
	width:90%;
	height:90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
	}
#userIcon{
	width:10%;
	}
#userName{
	font-family:"微软雅黑";
	color:#3F719A;
	font-size:1.5em;
	}