@charset "utf-8";
/* CSS Document */
body{
	font-family:"微软雅黑", "黑体", Verdana, Arial;}
.container{
	margin: 0 auto;
	width:90%;
	height:90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
	}
.tip{
	text-align:center;}
a {
	text-align:center;
	text-decoration:none;
	}
#userIcon{
	width:10%;
	}
#userName{
	font-family:"微软雅黑";
	color:#3F719A;
	font-size:1.5em;
	}
#text{
	font-size:1.2em;
	}
#message,#picGallery,#audioGallery,#videoGallery{
	width:100%;
	margin-bottom:0.5em;
	padding:0.3em;
	border:1px solid;
	border-color:#DBDBDB;
	}
.swipebox{
	list-style-type:none;
	margin-bottom:0.5em;
	width:33%;
	}
.swipebox img{
	display: inline;
	margin-bottom:0.5em;
	margin-right:1%;
	width:31%;
	vertical-align:top;
	}
.videobox{
	list-style-type:none;
	margin-bottom:1em;
	width:100%;
	text-decoration:none;
	}
.videobox:active{
	opacity:0.5;
	}
.videobox img{
	width:100%;
	}
audio,video{
	width:100%;
	}
#submit_detail{
	text-align:center
	}
.option{
	font-size:1.5em;}
.notes{
	font-size:0.8em;
	font-weight:lighter;}
.button{
	font-family:"微软雅黑", "黑体", Verdana, Arial;
	text-align:center;
	border:1px solid;
	border-color:#999;
	margin:0.5em;
	background-color:#BEFFB5;
	text-shadow:none;
	}

























